// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey-light: #eee;
$color-grey: #999;
$color-grey-darker: #777;

$color-background: #1c1c1e;
$color-background-lighter: #313135;

$color-yellow: #e5eec1;
$color-yellow-lighter: #F2F6DF;

$color-green-lighter: #a2d5ac;
$color-green-light:#56B369;
$color-green-dark: #469B57;

$color-coral-light: #DA6B58;
$color-coral-dark: #A73825;

$color-green-blue: #3aada8;
$color-green-blue-lighter:#47C2BC;

$color-blue-light:#73c2fb;
$color-blue: #4f86f7;
$color-blue-dark: #273be2;

$color-grey-blue:#557c83;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;